.container-home-page{
    display: flex;
    flex-direction: column;
}

:root{ 
    --test: white; 
    --test2: white;
}
/* ==================== Header ================================ */
/* container geral do header */
.container-header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100vw;
    background-color: var(--test);
    border-bottom: 2px solid #D5D8DC;
}

.container-nav-header{
    display: flex;
    width: 23vw;
    height: 10vh;
    background-color: var(--test2);
    justify-content: space-between;
    align-items: center;

}

.nav-btn{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    padding: 12px 17px 12px 17px;
    transition: .3s;
}

.nav-btn:hover{
    border-bottom: 4px solid black;
}

.container-busca-header{
    display: flex;
    margin-right:30px;
}

/* configurações da logo */
.logo-header{
    position: relative;
    padding: 0;
    margin-left: 30px;
}

/* ============================= Footer Container =============================== */

.container-footer{
    display: flex;
    height: auto;
    width: 100vw;
    background-color: aqua;
}


.footer-social{
    background-color: brown;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}