.container-home-page{
    display: flex;
    flex-direction: column;
}

/* ==================== Header ================================ */

/* Container geral do header. */
.container-header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100vw;
    background: white;

    box-shadow: 1px 1px 20px 0px #000000;
}

/* Container dos botões. */
.container-nav-header{
    display: flex;
    width: 23vw;
    height: 10vh;
    background-color: white;
    justify-content: space-between;
    align-items: center;

}

/* Formata os botões. */
.nav-btn{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    padding: 12px 17px;
    transition: .3s;
}

/* Animação dos botões. */
.nav-btn:hover{
    border-bottom: 4px solid black;
}

/* Container da pesquisa e do carrinho. */
.container-busca-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:30px;
    width: 21vw;
}

/* Container apenas da pesquisa. */
.container-busca{
    display: flex;
    flex-direction: row;
    background-color: #EAECEE;
    border-radius: 20px;
    padding: 10px;
    
}

/* Tag do input. */
.input-busca-header{
    border: none;
    outline: none;
    height: 1.5vw;

    background-color: #EAECEE;
}


/* configurações da logo */
.logo-header{
    position: relative;
    padding: 0;
    margin-left: 30px;
}

/* =================================== Footer Container ====================================== */

.container-footer{
    display: flex;
    height: auto;
    width: 100vw;
    background-color: transparent;
}

/* Icon Configs Start=================== */

.footer-social{
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.fbicon{
    color: black;
}

.fbicon:hover{
    color: #3b5998;
    transition: 0.2s;
}

.igicon{
    color: black;
}

.igicon:hover{
    transition-property: initial;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tticon{
    color: black;
}

.tticon:hover{
    color: #00aced;
    transition: 0.2s;
}

/* Icon Configs End===================== */

.footer-contact{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}